
.about-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-page-body {
        width: 70%;
        margin-top: 4rem;
        background-color: $metallic-silver;
        color: $black;
        border-radius: 10px;
        display: flex;
        box-shadow: 0px 0px 5px $rich-black;

        .about-page-image-wrapper {
            width: 40%;
            padding: 1rem;

            .about-page-image {
                border-radius: 4px;

            }
        }

        .about-page-content {
            width: 60%;
            padding: 1rem;

            .about-page-title {
                text-align: right;
                font-size: 1.8em;
                font-weight: 600;
                color: $red;
                margin-bottom: 1.5rem;
            }

            .about-page-blurb-wrapper {
                width: 80%;
                margin: 0 auto;
                padding: 1rem;
                border-radius: 8px;
                background-color: $light-grey;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

                .about-page-blurb {
                    font-size: 1.2em;
                    font-weight: 400;
                    color: $dark-grey;
                    line-height: 1.5;
                }
            }


            
        }
    }

    .contact-btn {
        font-size: 0.9em;
        margin: 1rem 0;
        padding: 0 2rem;
        background-color: $green;
        border-radius: 3px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.04);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
            filter: brightness(1.2);
        }
    }
    

    .about-page-skills-wrapper {
        width: 70%;
        padding: 1rem;

        .add-skill-btn {
            font-size: 0.8em;
            color: $grey;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $blue;
                cursor: pointer;
            }
        }

        .about-page-skills-title {
            font-size: 1.3em;
            font-weight: 400;
            color: $tan;
            margin-bottom: 0.5rem;
        }

        .about-page-skills {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

// Skill Item 

.skill-item {
    width: 96%;
    height: 80px;
    display: flex;
    margin: 0.5rem 0;
    position: relative;

    .skill-item-image-wrapper {
        width: 15%;

        .skill-image {
            border-radius: 3px;
            margin-top: 0.5rem;
            margin-left: 0.5rem;
        }
    }

    .skill-item-body {
        width: 85%;
        display: flex;
        flex-direction: column;
        padding-left: 1rem;

        .skill-title {
            font-size: 1.9em;
            font-weight: 600;
            color: $blue;
        }

        .skill-pct {
            font-size: 1.2em;
            font-weight: 400;
            color: $dark-grey;
        }
    }

    .skill-delete-btn {
        color: $red;
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
        font-size: 1.2em;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $calc-red;
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}

// Skill Form 

.skill-form {
    width: 50%;
    padding: 1rem;

    .skill-form-btn {
        font-size: 0.8em;
        padding: 0 1rem;
        border-radius: 3px;
        background-color: $orange;
        color: $white;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: $brown;
            cursor: pointer;
            transform: scale(1.04);
        }
    }
}