
.auth-container {
    width: 60%;
    min-height: 75vh;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .auth-title {
        font-size: 2.2em;
        font-weight: 600;
        margin-bottom: 1rem;
        color: grey;
    }

    .auth-form {
        width: 80%;
        margin: 1rem auto;
    }

    .auth-btn {
        padding: 0 3rem;
        border-radius: 3px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        background-color: blue;
        color: white;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #1a73e8;
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
            transform: scale(1.05);
        }
    }
}