
.blogs-container {
    width: 100%;

    .new-blog-link {
        margin-left: 4rem;
        font-size: 1.2em;
    }

    .blogs-header {
        width: 92%;
        height: 160px;
        margin: 2rem auto;
        border-radius: 8px;
        background-color: $blog-dark-blue;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        display: grid;
        grid-template-columns: 2fr 1fr;

        .blogs-header-main {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 25%;

            .blogs-header-title {
                font-size: 2.4em;
                font-weight: 600;
                color: $white;
            }

            .blogs-header-subtitle {
                font-size: 1.4em;
                font-weight: 400;
                padding: 0.5rem 0;
                color: $light-grey;
            }
        }

        .blogs-header-featured {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .featured-title {
                font-size: 1.4em;
                font-weight: 600;
                color: $grey;
            }
        }
    }

    .blogs-body {
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr;

        .blogs-list-wrapper {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        }
    }
}

// Blog Sidebar 

.blog-sidebar {
    width: 90%;
    margin: 1rem auto;
    padding: 1rem 0;
    border-radius: 8px;
    background-color: $blog-light-blue;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

    .new-category-link {
        font-size: 0.7em;
        color: $red;
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            color: $red3;
        }
    }

    .blog-sidebar-title {
        font-size: 1.4em;
        font-weight: 600;
        color: $blog-green;
        padding-left: 1rem;
        text-decoration: underline;
    }

    .reset-link {
        color: $red;
        text-decoration: underline;
        margin-left: 1.5rem;
        transition: filter 0.3s ease-in-out, transform 0.4s ease-in-out;

        &:hover {
            filter: brightness(1.2);
            cursor: pointer;
            transform: scale(1.04);
        }
    }

    .blog-sidebar-categories {
        padding-left: 1rem;

        .category-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding-left: 0 0.5rem;

            .category-name {
                font-size: 1.8em;
                font-weight: 600;
                color: $blog-dark-blue;
                transition: color 0.3s ease-in-out, transform 0.4s ease-in-out;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                    color: $blog-dark-green;
                }
            }

            .category-count {
                font-size: 1.4em;
                font-weight: 600;
                color: $blog-dark-blue;
            }

            .category-delete {
                font-size: 1.4em;
                color: $red;
                transition: transform 0.4s ease-in-out;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }
        }
    }

    .blog-sidebar-divider {
        width: 55%;
        height: 2px;
        text-align: center;
        background-color: $metallic-silver;
        margin-left: 22%;
        margin-bottom: 1rem;
    }

    .blog-sidebar-quote {
        width: 80%;
        margin: 0 auto;

        .sidebar-quote {
            font-size: 1.2em;
            color: $smoky-black;
            text-align: center;
            font-style: italic;
        }

        .sidebar-author {
            text-align: right;
            font-size: 0.9em;
            color: $lavender-indigo;
        }
    }

    .blog-sidebar-socials {
        width: 60%;
        margin: 0 auto;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem 1rem;
        padding-bottom: 1rem;

        .blog-sidebar-socials-link {
            font-size: 1.9em;
            text-align: center;
            color: $tan;
            transition: color 0.3s ease-in-out, transform 0.4s ease-in-out;

            &:hover {
                transform: scale(1.2);
                color: $orange;
            }
        }
    }
}

// Blog Item

.blog-item {
    width: 80%;
    margin: 1rem auto;
    border-bottom: 1px solid $blog-dark-blue;

    .blog-item-title {
        font-size: 2.2em;
        font-weight: 600;
        color: $blog-dark-blue;
    }

    .blog-item-widgets {
        width: 84%;
        height: 32px;
        margin-left: 1rem;
        margin-bottom: 1rem;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        background-color: $light-grey;
        border: 1px solid $grey;

        .widget-item {
            font-size: 0.9em;
            padding: 0 0.5rem;
        }

        .widgets-left {
            display: flex;
            align-items: center;

            .category-name {
                color: $blog-dark-green;
                padding-left: 0.25rem;
                font-size: 1.2em;
                transition: color 0.3s ease-in-out, transform 0.4s ease-in-out;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                    color: $blog-green;
                }
            }

            .back-widget {
                color: $blog-blue;
                transition: color 0.3s ease-in-out, transform 0.4s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                    color: $blog-dark-blue;
                }
            }

            .open-widget {
                color: $blog-blue;
                font-size: 1.3em;
                margin: 0 0.5rem;
                transition: color 0.3s ease-in-out, transform 0.4s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                    color: $blog-dark-blue;
                }
            }
        }

        .widgets-right {
            display: flex;
            align-items: center;

            .date-widget {
                padding-left: 0.25rem;
                color: $orange;
            }

            .edit-widget {
                color: $blog-green;
                font-size: 1.2em;
                transition: color 0.3s ease-in-out, transform 0.4s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                    color: $blog-dark-green;
                }
            }

            .delete-widget {
                color: $red;
                font-size: 1.2em;
                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        
    }

    .blog-item-text {
        font-size: 1.2em;
        font-weight: 400;
        color: $blog-blue;
    }
}

// Blog Featured Item

.blog-featured-item {
    width: 90%;
    margin: 0 auto;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 4px;
    background-color: $blog-dark-green;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }

    .featured-item-title {
        font-size: 1.4em;
        font-weight: 600;
        color: $blog-light-blue;
    }

    .featured-item-body {
        font-weight: 400;
        color: $blog-blue;
        margin-left: 0.5rem;
    }
}

// Blog Category Form

.blog-category-form {
    width: 90%;
    margin: 0 auto;
    padding: 0 1rem;

    .category-form-btn {
        font-size: 0.8em;
        padding: 0 1rem;
        background-color: $blog-dark-blue;
        color: $white;
        border-radius: 3px;
    }
}

// Blog Detail 

.blog-detail {
    width: 96%;
    min-height: calc(100vh - 160px);
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 3fr 2fr;

    .blog-detail-left {
        width: 100%;
        margin-top: 1rem;

        .blog-detail-body {
            width: 100%;

            .blog-detail-header {
                width: 100%;
                max-height: 150px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                margin-bottom: 3rem;
                overflow: hidden;

                .blog-detail-title {
                    font-size: 2.9em;
                    font-weight: 600;
                    color: $blog-dark-blue;
                }

                .blog-detail-image {
                    margin-right: 1rem;
                    max-height: 125px;
                    border-radius: 4px;
                    overflow: hidden;
                    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
                }
            }

            .blog-detail-widgets {
                width: 84%;
                height: 40px;
                margin-left: 2%;
                margin-bottom: 0.5rem;
                padding: 0 0.5rem;
                border-radius: 4px;
                border: 1px solid $grey;
                background-color: $light-grey;
                box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
                display: flex;
                justify-content: space-between;

                .detail-widgets-left {
                    display: flex;
                    align-items: baseline;
                }

                .detail-widgets-right {
                    display: flex;
                    align-items: baseline;
                }

                .detail-widget-item {
                    font-size: 0.9em;
                    padding: 0 0.5rem;
                }

                .blog-detail-back {
                    color: $blog-blue;
                    font-size: 1.2em;
                    padding-right: 0.5rem;
                    transition: color 0.3s ease-in-out, transform 0.4s ease-in-out;

                    &:hover {
                        transform: scale(1.2);
                        color: $blog-dark-blue;
                    }
                }

                .blog-detail-category {
                    color: $blog-blue;
                    padding-left: 0.5rem;
                    font-size: 1.2em;
                    transition: color 0.3s ease-in-out, transform 0.4s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.1);
                        color: $blog-green;
                    }
                }

                .blog-detail-date {
                    font-size: 0.9em;
                    padding-right: 0.25rem;
                    color: $orange;
                }

                .blog-detail-edit {
                    color: $blog-green;
                    font-size: 1.2em;
                    margin: 0 0.5rem;
                    transition: color 0.3s ease-in-out, transform 0.4s ease-in-out;

                    &:hover {
                        transform: scale(1.2);
                        color: $blog-dark-green;
                    }
                }

                .blog-detail-delete {
                    color: $red;
                    font-size: 1.2em;
                    margin: 0 0.5rem;
                    transition: transform 0.3s ease-in-out;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

            .blog-detail-text-wrapper {
                width: 90%;
                margin: 1rem auto;
                padding: 1rem;
                border-bottom: 1px solid $blog-dark-blue;

                .blog-detail-text {
                    font-size: 1.2em;
                    font-weight: 400;
                    color: $black;
                }
            }
        }
    }

    .blog-detail-right {
        width: 100%;

        .comments-wrapper {
            width: 92%;
            margin: 1rem auto;
            padding: 1rem 0;
            border-bottom: 1px solid $blog-dark-blue;

            .comments-title {
                font-size: 1.3em;
                font-weight: 500;
                color: $blog-blue;
            }
        }
    }
}

// Blog Comment Form 

.blog-comment-form {
    width: 100%;
    margin-bottom: 0.5rem;

    .blog-comment-form-btn {
        font-size: 0.8em;
        padding: 0 1rem;
        background-color: $blog-dark-blue;
        color: $white;
        border-radius: 3px;
        transition: background-color 0.3s ease-in-out, transform 0.4s ease-in-out;

        &:hover {
            transform: scale(1.05);
            background-color: $blog-blue;
        }
    }
}

// Blog Comment Item

.blog-comment-item {
    width: 100%;
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    border: 1px solid $grey;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.2);

    .blog-comment-item-left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .blog-comment-item-image {
            border-radius: 4px;
            overflow: hidden;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
        }
    }

    .blog-comment-item-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 1rem;
        padding-top: 0.5rem;
        position: relative;

        .comment-item-content {
            color: $blog-dark-blue;
        }

        .comment-item-author {
            text-align: right;
            margin-bottom: -0.1rem;
            font-size: 0.8em;
            color: $blog-green;
        }

        .blog-comment-item-delete {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            color: $red;
            font-size: 1.4em;
            font-weight: 700;
            border: 2px solid $red;
            padding: 0 0.25rem;
            transition: transform 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }
}

// Blog New/Edit Form

.blogs-newedit-container {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;

    .blogs-newedit-title {
        font-size: 2em;
        font-weight: 500;
        color: $blog-blue;
    }

    .blogs-newedit-link {
        font-size: 1.2em;
    }
}

.blog-form {
    width: 90%;
    margin: 2rem auto;
    padding: 2rem;

    .blog-form-btn {
        width: 40%;
        border-radius: 3px;
        background-color: $blog-dark-blue;
        color: $white;
    }
}