
.blogs-container {
    width: 100%;

    .blogs-header {
        width: 92%;
        height: 160px;
        margin: 2rem auto;
        border-radius: 8px;
        background-color: $blog-dark-blue;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .blogs-body {
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr;

        .blogs-list-wrapper {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        }
    }
}

// Blog Sidebar 

.blog-sidebar {
    width: 90%;
    margin: 1rem auto;
    border-radius: 8px;
    background-color: $blog-light-blue;

    .blog-sidebar-title {
        font-size: 2.2em;
        font-weight: 600;
        color: $blog-dark-blue;
        padding: 1rem;
    }

    .blog-sidebar-categories {
        padding-left: 1rem;
    }

    .blog-sidebar-socials {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

// Blog Item

.blog-item {
    width: 80%;
    padding: 1rem;
    margin: 1rem 0;
    border-bottom: 1px solid $blog-dark-blue;

    .blog-item-title {
        font-size: 1.8em;
        font-weight: 600;
        color: $blog-dark-blue;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $blog-green;
            transform: scale(1.1);
        }
    }

    .blog-item-text {
        font-size: 1.2em;
        font-weight: 400;
        color: $blog-blue;
    }
}