
.blog-navigation {
    width: 100%;
    height: 42px;
    background-color: $blog-blue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    .blog-navigation__head {
        width: 100%;
        padding-left: 2rem;
        display: flex;
        align-items: center;

        .blog-head-welcome {
            font-size: 1.3em;
            font-weight: 600;
            color: $metallic-silver;
            text-decoration: none;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $blog-green;
                transform: scale(1.1);
                text-decoration: underline;
            }
        }

        .blog-user-item {
            width: 90%;
            height: 100%;
            padding-left: 1rem;
            display: flex;
            align-items: center;

            .blog-user-item-img {
                border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
            }

            .blog-user-item-username {
                margin-left: 1rem;
                font-size: 1.3em;
                font-weight: 600;
                color: $blog-green;
                text-decoration: none;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: $blog-dark-green;
                    transform: scale(1.1);
                    text-decoration: underline;
                }
            }
        }
    }

    .blog-navigation__links {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .blog-navigation__auth {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .blog-nav-link {
        font-size: 1.2em;
        font-weight: 600;
        color: $white;
        text-decoration: none;
        margin: 0 15px;
        margin-bottom: 0.25rem;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $blog-green;
            transform: scale(1.1);
        }
    }

    .blog-link-active {
        color: $blog-dark-green;
        border-bottom: 1px solid $blog-green;
        transform: scale(1.1);
    }
}