
.homepage {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .homepage__head {
        width: 45%;
        padding: 2rem;
        border-bottom: 1px solid $dark-grey;
        position: relative;

        .homepage-username {
            font-size: 1.3em;
            font-weight: 700;
            color: $orange;
        }

        .homepage-title {
            font-size: 2.5em;
            font-weight: 400;
            color: $blue;
            text-align: center;
        }

        .homepage-quote {
            font-size: 1.2em;
            font-weight: 400;
            color: $tan;
            padding: 0.5rem 
        }

        .homepage-author {
            font-size: 1em;
            font-weight: 600;
            color: $light-grey;
            text-align: right;
            margin-bottom: 1rem;
        }

        .homepage-links {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 0.25rem;
            z-index: 100;

            .homepage-link {
                width: 100%;
                font-size: 0.9em;
                border-radius: 2px;
                transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;

                &:hover {
                    filter: brightness(1.2);
                    transform: scale(1.04);
                }
            }

            .about {
                background-color: $dark-grey;
                color: $black;
            }

            .contact {
                background-color: $grey1;
                color: $black;
            }

            .projects {
                background-color: $metallic-silver;
                color: $black;
            }
        }

        .homepage-projects-wrapper {
            width: 80%;
            position: absolute;
            top: 0;
            right: 0;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            background-color: $metallic-silver;
            border-radius: 4px;
            opacity: 0;
            transition: all 0.5s ease-in-out;

            .homepage-project-item {
                width: 90%;
                padding: 0 1rem;
                padding-top: 3px;
                margin: 0.15rem 0;
                height: 30px;
                border: 1px solid $rich-black;
                border-radius: 2px;
                background-color: $white;
                color: $black;

                .project-item-name {
                    font-size: 0.9em;
                    font-weight: 500;
                }
            }
        }

        .show-projects {
            top: 300px;
            opacity: 1;
        }
    }
}

