
.main-navigation {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .main-navigation-head {
        width: 100%;
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $brown;

        .main-user-item {
            width: 90%;
            height: 21vh;
            padding-top: 1rem;
            padding-left: 1rem;
            position: relative;

            .main-user-item-img {
                width: 60%;
                height: 70%;
                border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
                overflow: hidden;
            }

            .main-user-item-username {
                font-size: 1.4rem;
                font-weight: 700;
                color: $green;
                position: absolute;
                bottom: -0.6rem;
                right: 1rem;
                text-decoration: none;
                border-bottom: 1px transparent solid;
                transition: color 0.3s ease-in-out, transform 0.4s ease-in-out, border-bottom 0.3s ease-in-out;

                &:hover {
                    color: $spanish-green;
                    border-bottom: 1px solid $spanish-green;
                    transform: scale(1.1);
                }
            }
        }

        .head-welcome {
            font-size: 2rem;
            font-weight: 700;
            padding-bottom: 0.5rem;
            color: $green;
            border-bottom: 1px solid transparent;
            text-decoration: none;
            transition: color 0.3s ease-in-out, transform 0.4s ease-in-out, border-bottom 0.3s ease-in-out;

            &:hover {
                color: $spanish-green;
                transform: scale(1.1);
                border-bottom: 1px solid $spanish-green;
            }
        }
    }

    .main-navigation-links {
        width: 90%;
        margin: 1rem auto;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-bottom: 1px solid $brown;
    }

    .main-navigation-auth {
        width: 90%;
        margin: 0 auto;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-link {
        font-size: 1.4em;
        color: $blue;
        text-decoration: none;
        padding: 0.5rem 0;
        transition: color 0.3s ease-in-out, transform 0.4s ease-in-out;

        &:hover {
            color: $light-blue;
            transform: scale(1.1);
        }
    }

    .link-active {
        color: $grey;
        transform: scale(1.1);
        border-bottom: 1px solid $grey;
    }
}