@import 'portfolio-navigation';

@import 'portfolio';
@import 'calculator';
@import 'drum-machine';
@import 'markdown-previewer';
@import 'pomodoro-clock';
@import 'quote-machine';

.portfolio-footer {
    width: 100%;
    height: 55px;
    border-top: 1px solid $dark-grey;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .footer-copyright {
        font-weight: 600;
        color: $licorice;
        margin-bottom: -0.25rem;
    }

    .copyright-name {
        color: $metallic-silver;
        font-size: 1.1em;
        margin: 0 0.25rem;
    }

    .footer-links {
        width: 48%;
        display: flex;
        justify-content: flex-end;

        .footer-link {
            font-weight: 600;
            text-decoration: none;
            text-align: center;
            color: $smoky-black;
            box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
            border-radius: 3px;
            padding: 0 2rem;
            margin: 0 1rem;
            margin-bottom: 0.25rem;
            transition: filter 0.3s ease-in-out, transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;

            &:hover {
                filter: brightness(1.2);
                transform: scale(1.04);
                box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.3);
            }
        }

        .footer-home {
            background-color: $blue4;
        }

        .footer-portfolio {
            background-color: $dark-blue3;
        }
    }
}

.portfolio-layout {
    width: 100%;
    margin-top: -155px;
    min-height: calc(100vh + 175px);
    background-color: $green;
    transition: transform 0.4s ease-in-out;
}

.portfolio-slide {
    transform: translateY(155px);
}