
.portfolio-container {
    width: 100%;
    min-height: 100vh;

    .portfolio-header {
        width: 100%;
        min-height: 175px;
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .portfolio-title {
            font-size: 2.5rem;
            font-weight: 400;
            color: $black;
            transform: translateX(-50%);
        }

        .portfolio-subtitle-wrapper {
            width: 40%;
            padding-bottom: 1rem;
            border-bottom: 1px solid $dark-grey;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .header-quote {
                font-size: 1.3rem;
                font-weight: 400;
                color: $grey;
            }

            .header-author {
                font-weight: 400;
                color: $light-blue;
                text-align: right;
            }
        }

        .new-portfolio-link {
            font-size: 1.2rem;
            font-weight: 400;
            color: $dark-blue;
            transition: all 0.3s ease-in-out;

            &:hover {
                filter: brightness(1.2);
                transform: scale(1.04);
            }
        }
    }

    .portfolio-items {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
}

// Portfolio Detail 

.portfolio-detail {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .portfolio-detail-left {
        width: 100%;
        padding: 1rem;

        .portfolio-detail-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .portfolio-detail-title {
                margin: 1rem;
                font-size: 2.8rem;
                font-weight: 700;
                color: $black;
                padding-bottom: 0.5rem;
                border-bottom: 1px solid $black;
            }

            .portfolio-detail-actions {
                display: flex;

                .portfolio-detail-action {
                    width: 100px;
                    text-decoration: none;
                    text-align: center;
                    border: none;
                    border-radius: 3px;
                    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
                    font-size: 1.2rem;
                    font-weight: 400;
                    color: $white;
                    margin: 0 0.5rem;
                    padding: 2px 0;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        filter: brightness(1.2);
                        transform: scale(1.04);
                        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
                    }
                }

                .edit-action {
                    background-color: $green;
                }

                .delete-action {
                    background-color: $red;
                }

                .back-action {
                    background-color: $dark-blue;
                }
            }
        }

        .portfolio-detail-body {
            width: 100%;
            display: grid;
            grid-template-columns: 3fr 2fr;

            .portfolio-detail-body-left {
                width: 90%;
                margin: 0.5rem auto;

                .portfolio-detail-description-wrapper {
                    width: 100%;
                    padding: 0.5rem 1rem;
                    margin: 0.5rem 0;

                    .portfolio-detail-description {
                        font-size: 1.2rem;
                        font-weight: 400;
                        color: #161616;
                    }
                }

                .detail-technology-title {
                    font-weight: 700;
                    color: $black;
                    padding-bottom: 0.5rem;
                }

                .detail-technology-wrapper {
                    width: 70%;
                    margin: 0.5rem auto;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);

                    .detail-technology-item {
                        font-size: 1.2rem;
                        font-weight: 400;
                        color: $light-grey;
                    }
                }
            }

            .portfolio-detail-body-right {
                width: 100%;
                margin-top: 1rem;

                .portfolio-detail-image {
                    border-radius: 3px;
                    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
                }
            }
        }

        .portfolio-detail-comments {
            width: 94%;
            margin: 1rem auto;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            border-top: 1px solid $dark-grey;

            .detail-comments-title {
                font-size: 1.1rem;
                font-weight: 500;
                color: $black;
                padding-bottom: 0.5rem;
            }

            .detail-comments-wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }
    }

    .portfolio-detail-right {
        width: 100%;
        border-left: 1px solid $dark-grey;
    }
}

// Portfolio Comment form

.portfolio-comment-form {
    width: 75%;
    padding: 0.5rem;
    margin-bottom: 1rem;

    .portfolio-comment-form-btn {
        font-size: 0.8em;
        padding: 0 1.5rem;
        border-radius: 2px;
        background-color: $brown;
        color: $white;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;

        &:hover {
            filter: brightness(1.2);
            transform: scale(1.04);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        }
    }
}

// Portfolio Comment Item

.portfolio-comment-item {
    width: 85%;
    min-height: 100px;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid $dark-grey;
    background-color: $white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 6fr;

    .comment-avatar-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .comment-avatar {
            border-radius: 2px;
            border: 1px solid $grey;
            overflow: hidden;
        }
    }

    .comment-body {
        width: 100%;
        padding: 0.25rem 0.6rem;
    }

    .comment-text {
        font-weight: 400;
        color: $black;
    }

    .comment-details {
        text-align: right;
        font-size: 0.8rem;
        color: $grey;
        position: absolute;
        bottom: -0.6rem;
        right: 0.5rem;
    }

    .comment-author {
        font-size: 1em;
        font-weight: 700;
        color: $brown;
    }

    .comment-date {
        color: $green;
    }
}

// Portfolio Item 

.portfolio-item {
    width: 100%;
    height: 325px;
    border-radius: 5px;
    border: 1px solid $dark-grey;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    background-color: $white;

    .portfolio-item-image {
        width: 100%;
        height: 70%;
        border-bottom: 2px solid $dark-grey;                           
    }

    .item-body {
        width: 100%;
        height: 30%;
        position: relative;

        .item__title {
            font-size: 1.6rem;
            font-weight: 700;
            color: $blue;
            padding: 0.5rem;
        }

        .item__links {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            position: absolute;
            bottom: 0.25rem;

            .item__link {
                margin: 0 0.5rem;
                padding: 2px 1rem;
                text-decoration: none;
                text-align: center;
                color: $white;
                font-size: 0.8em;
                border-radius: 3px;
                border: 1px solid $dark-grey;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
                transition: all 0.3s ease-in-out;

                &:hover {
                    cursor: pointer;
                    filter: brightness(1.2);
                    transform: scale(1.04);
                    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
                }
            }

            .edit-link {
                background-color: $green;
            }

            .delete-link {
                background-color: $red;
            }

            .view-link {
                background-color: $blue;
            }
        }
    }
}