
.portfolio-container {
    width: 100%;
    min-height: 100vh;

    .portfolio-header {
        width: 100%;
        min-height: 175px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .portfolio-title {
            font-size: 2.5rem;
            font-weight: 400;
            color: $dark-blue;
        }

        .portfolio-subtitle {
            width: 40%;
            font-size: 1.3rem;
            font-weight: 400;
            color: $dark-grey;
            padding-bottom: 1rem;
            border-bottom: 1px solid $dark-grey;
        }

        .new-portfolio-link {
            font-size: 1.2rem;
            font-weight: 400;
            color: $dark-blue;
            transition: all 0.3s ease-in-out;

            &:hover {
                filter: brightness(1.2);
                transform: scale(1.04);
            }
        }
    }

    .portfolio-items {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
}

// Portfolio Detail 

.portfolio-detail {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .portfolio-detail-left {
        width: 100%;
        padding: 1rem;

        .portfolio-detail-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .portfolio-detail-title {
                margin: 1rem;
                font-size: 2.5rem;
                font-weight: 400;
                color: $dark-blue;
            }

            .portfolio-detail-actions {
                display: flex;

                .portfolio-detail-action {
                    width: 100px;
                    font-size: 1.2rem;
                    font-weight: 400;
                    color: $white;
                    margin: 0 0.5rem;
                    padding: 2px 0;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        filter: brightness(1.2);
                        transform: scale(1.04);
                    }
                }

                .edit-action {
                    background-color: $green;
                }

                .delete-action {
                    background-color: $red;
                }

                .back-action {
                    background-color: $dark-blue;
                }
            }
        }

        .portfolio-detail-body {
            width: 100%;
            display: grid;
            grid-template-columns: 3fr 2fr;

            .portfolio-detail-body-left {
                width: 90%;
                margin: 0.5rem auto;
            }
        }

        .tech-item {
            font-size: 1.2rem;
            color: $dark-blue;
        }
    }

    .portfolio-detail-right {
        width: 100%;
        border-left: 1px solid $dark-grey;
    }
}