
.portfolio-container {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 1rem;

    .portfolio-header {
        width: 100%;
        min-height: 175px;
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .portfolio-title {
            font-size: 2.5rem;
            font-weight: 400;
            color: $black;
            transform: translateX(-50%);
        }

        .portfolio-subtitle-wrapper {
            width: 40%;
            padding-bottom: 1rem;
            border-bottom: 1px solid $dark-grey;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .header-quote {
                font-size: 1.3rem;
                font-weight: 400;
                color: $grey;
            }

            .header-author {
                font-weight: 400;
                color: $light-blue;
                text-align: right;
            }
        }

        .new-portfolio-link {
            font-size: 1.2rem;
            font-weight: 400;
            color: $dark-blue;
            transition: all 0.3s ease-in-out;

            &:hover {
                filter: brightness(1.2);
                transform: scale(1.04);
            }
        }
    }

    .portfolio-items {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3rem;
        padding-bottom: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
}

// Portfolio Detail 

.portfolio-detail {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .portfolio-detail-left {
        width: 100%;
        padding: 1rem;

        .portfolio-detail-header {
            width: 100%;
            padding: 1rem;
            margin: 1rem auto;
            background-color: $blue;
            border-radius: 4px;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
            display: flex;
            position: relative;

            .portfolio-detail-header-left {
                width: 15%;
            }

            .portfolio-detail-header-right {
                padding-top: 1rem;
                width: 85%;

                .portfolio-detail-title {
                    font-size: 2.5rem;
                    font-weight: 600;
                    color: $black;
                    margin-left: 10%;
                }
            }

            .detail-item-link {
                font-size: 1.2rem;
                font-weight: 400;
                color: $metallic-silver;
                transition: all 0.3s ease-in-out;
                position: absolute;
                bottom: 0;
                right: 0.5rem;

                &:hover {
                    filter: brightness(1.2);
                    transform: scale(1.04);
                }
            }
        }

        .portfolio-detail-body {
            width: 100%;
            display: grid;
            grid-template-columns: 3fr 2fr;

            .portfolio-detail-body-left {
                width: 90%;
                margin: 0.5rem auto;

                .detail-add-tech-link {
                    font-size: 0.8em;
                    font-weight: 400;
                    color: $licorice;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        color: $metallic-bronze;
                        transform: scale(1.04);
                    }
                }

                .detail-technology-title {
                    font-weight: 700;
                    color: $black;
                    padding-bottom: 0.5rem;
                }

                .tech-form {
                    width: 100%;

                    .tech-form-btn {
                        font-size: 0.8em;
                        padding: 0 2rem;
                        border-radius: 3px;
                        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.297);
                        background-color: $metallic-silver;
                        color: $black;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            filter: brightness(1.2);
                            transform: scale(1.04);
                            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.292);
                        }
                    }
                }

                .detail-technologies-wrapper {
                    width: 100%;

                    .detail-technology-item {
                        width: 100%;
                        margin: 0.5rem 0;
                        display: flex;
                        align-items: center;
                        position: relative;

                        .detail-technology-image-wrapper {
                            width: 20%;

                            .detail-technology-image {
                                border-radius: 3px;
                                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
                            }
                        }

                        .detail-technology-content {
                            width: 80%;

                            .detail-technology-name {
                                font-size: 1.2rem;
                                font-weight: 400;
                                color: $metallic-yellow;
                            }
                        }

                        .detail-technology-delete-btn {
                            font-size: 1.1em;
                            position: absolute;
                            top: 0;
                            right: 0;
                            color: $red;
                            transition: all 0.3s ease-in-out;

                            &:hover {
                                cursor: pointer;
                                color: $metallic-bronze;
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }

            .portfolio-detail-body-right {
                width: 100%;
                margin-top: 1rem;

                .portfolio-detail-description-wrapper {
                    width: 100%;
                    min-height: 150px;
                    padding: 0.5rem 1rem;
                    margin: 1rem 0;
                    border-bottom: 1px solid $dark-grey;

                    .portfolio-detail-description {
                        font-size: 1.2rem;
                        font-weight: 400;
                        color: #161616;
                        word-break: break-all;
                    }
                }

                .portfolio-detail-actions {
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 1.4rem;
    
                    .portfolio-detail-action {
                        width: 100px;
                        text-decoration: none;
                        text-align: center;
                        border: none;
                        border-radius: 3px;
                        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.297);
                        font-size: 1.2rem;
                        font-weight: 400;
                        color: $light-grey;
                        margin: 0 0.5rem;
                        padding: 2px 0;
                        transition: all 0.3s ease-in-out;
    
                        &:hover {
                            cursor: pointer;
                            filter: brightness(1.2);
                            transform: scale(1.04);
                            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.292);
                        }
                    }
    
                    .edit-action {
                        background-color: $green;
                    }
    
                    .delete-action {
                        background-color: $red;
                    }
    
                    .back-action {
                        background-color: $dark-blue1;
                    }
                }
            }
        }

        .portfolio-detail-comments {
            width: 94%;
            margin: 1rem auto;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            border-top: 1px solid $dark-grey;

            .detail-comments-title {
                font-size: 1.1rem;
                font-weight: 500;
                color: $black;
            }

            .detail-comments-wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }
    }

    .portfolio-detail-right {
        width: 100%;
        height: 100vh;
        padding-top: 1rem;
    }
}

// Portfolio Comment form

.portfolio-comment-form {
    width: 75%;
    padding: 0.5rem;
    margin-bottom: 1rem;

    .portfolio-comment-form-btn {
        font-size: 0.8em;
        padding: 0 1.5rem;
        border-radius: 2px;
        background-color: $brown;
        color: $white;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;

        &:hover {
            filter: brightness(1.2);
            transform: scale(1.04);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        }
    }
}

// Portfolio Comment Item

.portfolio-comment-item {
    width: 85%;
    min-height: 100px;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid $dark-grey;
    background-color: $white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 6fr;

    .comment-avatar-wrapper {
        width: 100%;
        height: 100%;
        

        .comment-avatar {
            margin-left: 6px;
            margin-top: 8px;
            border-radius: 2px;
            border: 1px solid $grey;
            overflow: hidden;
        }
    }

    .comment-body {
        width: 100%;
        padding: 0 0.6rem;
        padding-top: 0.5rem;
        position: relative;

        .comment-delete-btn {
            font-size: 1.2em;
            font-weight: 700;
            position: absolute;
            top: 0;
            right: 0.5rem;
            color: $red;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }

    .comment-text {
        font-weight: 400;
        color: $black;
    }

    .comment-details {
        text-align: right;
        font-size: 0.8rem;
        color: $grey;
        position: absolute;
        bottom: -0.6rem;
        right: 0.5rem;
    }

    .comment-author {
        font-size: 1em;
        font-weight: 700;
        color: $brown;
    }

    .comment-date {
        color: $green;
    }
}

// Portfolio Item 

.portfolio-item {
    width: 100%;
    height: 325px;
    border-radius: 5px;
    border: 1px solid $dark-grey;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    background-color: $white;

    .portfolio-item-image {
        width: 100%;
        height: 70%;
        border-bottom: 2px solid $dark-grey;                           
    }

    .item-body {
        width: 100%;
        height: 30%;
        position: relative;

        .item__title {
            font-size: 1.6rem;
            font-weight: 700;
            color: $blue;
            padding: 0.5rem;
        }

        .item__links {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            position: absolute;
            bottom: 0.25rem;

            .item__link {
                margin: 0 0.5rem;
                padding: 2px 1rem;
                text-decoration: none;
                text-align: center;
                color: $white;
                font-size: 0.8em;
                border-radius: 3px;
                border: 1px solid $dark-grey;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
                transition: all 0.3s ease-in-out;

                &:hover {
                    cursor: pointer;
                    filter: brightness(1.2);
                    transform: scale(1.04);
                    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
                }
            }

            .edit-link {
                background-color: $green;
            }

            .delete-link {
                background-color: $red;
            }

            .view-link {
                background-color: $blue;
            }
        }
    }
}

// Portfolio New/Edit Form

.portfolio-newedit {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;

    .portfolio-newedit-title {
        font-size: 2.5rem;
        font-weight: 700;
        color: $black;
        margin: 1rem 0;
    }

    .portfolio-newedit-link {
        font-size: 1.2rem;
        font-weight: 700;
        color: $light-grey;
    }
}

.portfolio-form {
    width: 45%;
    margin: 1rem auto;

    .add-tech-link {
        font-size: 0.8rem;
        font-weight: 700;
        color: $light-blue;
        margin: 0.5rem 0;
        transition: all 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            color: $dark-blue;
        }
    }

    .tech-title {
        font-size: 1.2rem;
        font-weight: 700;
        color: $tan;
        margin: 0.5rem;
    }

    .list-group {
        margin: 0.5rem 0;
        padding-left: 4rem;
    }

    .tech-item {
        font-size: 1.4rem;
        color: $orange;
    }

    .portfolio-form-btn {
        width: 50%;
        border-radius: 3px;
        background-color: $brown;
        color: $white;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.358);
        transition: all 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            filter: brightness(1.2);
            transform: scale(1.04);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.358);
        }
    }
}