
.userpage {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    .userpage-header {
        width: 40%;
        padding-bottom: 1rem;
        border-bottom: 1px solid $brown;

        .userpage-title {
            font-size: 2rem;
            font-weight: 600;
            color: $orange;
            margin-left: 2rem;
        }
    }

    .userpage-body {
        width: 100%;
        display: flex;
        align-items: flex-start;

        .userpage-sidebar {
            width: 40%;
            padding: 1rem;
            display: flex;
            flex-direction: column;

            .userpage-sidebar-title {
                font-size: 1.4em;
                font-weight: 600;
                color: $orange;
                margin-left: 2rem;
            }

            .userpage-sidebar-comments {
                width: 100%;
                display: flex;
                flex-direction: column;

                .userpage-comment-item {
                    width: 100%;
                    min-height: 100px;
                    margin: 0.5rem 0;
                    padding: 0.25rem 0.5rem;
                    border: 1px solid $licorice;
                    border-radius: 5px;
                    background-color: $white;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .userpage-comment-item-content {
                        color: $licorice;
                    }

                    .userpage-comment-item-created {
                        color: $grey;
                        font-size: 0.7em;
                        text-align: right;
                        margin-bottom: -0.25rem;
                    }

                    .created-at {
                        color: $brown;
                        font-size: 0.9;
                    }
                }
            }

            .userpage-sidebar-blog-comments {
                width: 95%;
                margin: 0.5rem auto;
                padding-bottom: 1rem;
                border-bottom: 1px solid $brown;
            }

            .userpage-sidebar-portfolio-comments {
                width: 95%;
                margin: 0.5rem auto;
                padding-bottom: 1rem;
                border-bottom: 1px solid $brown;
            }
        }
    }

    .userpage-content {
        width: 60%;
        margin: 2rem 0;
        border-radius: 5px;
        background-color: $metallic-silver;
        color: $rich-black2;
        box-shadow: 0px 0px 8px #ffffff51;

        .content-item {
            width: 100%;
            display: flex;
            align-items: center;
            padding-bottom: 1rem;
            border-bottom: 1px solid $rich-black2;
            padding: 0.25rem 0.5rem;

            .content-comments-link {
                font-size: 1em;
                margin-left: 4rem;
                color: $green;
                text-decoration: underline;
                transition: color 0.3s ease-in-out;

                &:hover {
                    cursor: pointer;
                    color: $yellow-green;
                }
            }

            .content-avatar {
                border-radius: 3px;
                margin: 0.5rem 0;
                margin-left: 4rem;
            }

            .content-text {
                width: 30%;
                font-size: 1.3em;
            }

            .content-data {
                font-size: 1.5em;
                color: $blog-dark-blue;
            }
        }
    }

    .userpage-actions {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 1rem 0;

        .userpage-link {
            width: 15%;
            margin: 0 0.5rem;
            box-shadow: 1px 1px 2px #ffffff2c;
            border-radius: 3px;
            font-size: 0.9em;
            color: $rich-black2;
            transition: filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.4s ease-in-out;

            &:hover {
                box-shadow: 3px 3px 4px #ffffff2c;
                filter: brightness(1.1);
                transform: scale(1.03);
            }
        }

        .userpage-delete {
            background-color: $red;
        }

        .userpage-edit {
            background-color: $green;
        }

        .userpage-home {
            background-color: $blue;
        }
    }
}