$red1: #AD2831;
$red2: #800e13;
$red3: #640d14;
$red4: #38040e;
$red5: #250902;

$light-grey: #E7ECEF;
$dark-grey: #8B8C89;
$light-blue: #A3CEF1;
$blue: #6096BA;
$dark-blue: #274C77;
$black: #161616;
$white: #FFFFFF;