$red1: #AD2831;
$red2: #800e13;
$red3: #640d14;
$red4: #38040e;
$red5: #250902;

$light-grey: #E7ECEF;
$grey: #B5BAB6;
$dark-grey: #6F6C70;
$light-blue: #33BECC;
$blue: #0074A8;
$dark-blue: #2B2E43;
$black: #2F2D30;
$white: #FFFFFF;
$brown: #5A4743;
$green: #4B6D41;
$red: #77202E;
$tan: #CFBB7B;
$orange: #D56231;

$blog-dark-green: #1a2626;
$blog-green: #29443b;
$blog-dark-blue: #074d66;
$blog-blue: #4a8da7;
$blog-light-blue: #c3dbe7;