
$light-grey: #E7ECEF;
$grey: #B5BAB6;
$dark-grey: #6F6C70;
$light-blue: #33BECC;
$blue: #0074A8;
$dark-blue: #2B2E43;
$black: #2F2D30;
$white: #FFFFFF;
$brown: #5A4743;
$green: #4B6D41;
$red: #77202E;
$tan: #CFBB7B;
$orange: #D56231;

$blog-dark-green: #1a2626;
$blog-green: #29443b;
$blog-dark-blue: #074d66;
$blog-blue: #4a8da7;
$blog-light-blue: #c3dbe7;

// Calculator 

$calc-black: #001219;
$calc-blue: #005F73;
$calc-blue-green: #0A9396;
$calc-foam-green: #94D2BD;
$calc-tan: #E9D8A6;
$calc-light-orange: #EE9B00;
$calc-orange: #CA6702;
$calc-red-orange: #BB3E03;
$calc-red: #AE2012;
$calc-dark-red: #9B2226;

// Quote Machine

$light-grey1: #E7ECEF;
$grey1: #8B8C89;
$dark-blue1: #274C77;
$blue1: #6096BA;
$light-blue1: #A3CEF1;

$dark-green2: #386641;
$green2: #6A994E;
$light-green2: #A7C957;
$tan2: #F2E8CF;
$red2: #BC4749;

$dark-blue3: #335C67;
$cream3: #FFF3B0;
$dark-yellow3: #E09F3E;
$red3: #9E2A2B;
$dark-red3: #540B0E;

$dark-purple4: #1F2041;
$purple4: #4B3F72;
$yellow4: #FFC857;
$blue-green4: #119DA4;
$blue4: #19647E;